@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Explore the API</h2>
        <ul>
            <li><a href="/swagger">Swagger</a></li>
            <li><a href="/browse/browser.html#/api/ToDoList">HAL Browser</a></li>
        </ul>
    </div>
</div>
